/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 80%;
    width: 80%;
    margin: 4% auto 5% auto;
    border-radius: 7px;
    }
    
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
    height: 100%;
    padding: 0;
    background-color: rgb(24, 24, 24);
    color: white;
    
    }
    #title > h1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 1%;
    color: white; 
    margin: auto;
    }
    
    #iframe {
    /* margin-top: 1%;
    margin-left: 10%;
    margin-right: auto; */
    width: 400px;
    height: 380px;
    border: 2px;
    border-radius: 15px;
    box-shadow: 200px grey;
    }

    .card {
        border-radius: 7px;

    }

    

    #infographic {
    display: none;
    }
    
    /* 
    #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
    }
    
    #floating-panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    } */
    
    #latlng {
    width: 225px;
    }
    
    #weather {
        margin: auto;
    }
    
    